*{
  font-family: Consolas;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}


.login.page {
  background-color: rgb(130, 56, 167);
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}


.chat.page {
  display: none;
  background-color: rgb(130, 56, 167);
}


.messages {
  font-size: 150%;
}

.chatArea {
  height: 100%;
}

.messages {
  height: calc(100vh - 6rem);
  margin: 0;
  overflow-y: scroll;
  padding: 0.75rem;
  color: #fff;
  overflow:hidden;
}

.message.typing .messageBody {
  color: #000;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}


.inputMessage {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width:100vw;
  bottom: 0;
  height: 3rem;
  font-size: 2rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  position: fixed;
  margin-left: 0.5rem;
}
.berforeInputMessage {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  width:100vw;
  bottom:0rem;
  height: 3rem;
  font-size: 2.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  position: fixed;
}
