{% extends 'registration/base.html' %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" name="login" class="formularz lg-shadow" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="form-group form-header">
            Patryk Morawski - Blog
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Nazwa użytkownika</label>
            <input type="text" name="username" class="form-control" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Hasło</label>
            <input type="password" name="password" class="form-control" autocomplete="current-password" required="" id="id_password">
        </div>
        <div class="col-md-12 text-center ">
            <br><input type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" value="Zaloguj" /><br>
        </div>
        <div class="form-group">
            <p class="text-center">Jeśli zapomniałeś hasła? <a href="/password_reset/">Zresetuj hasło</a>.</p>
        </div>
        <div class="form-group">
            <p class="text-center">Nie posiadasz konta? <a href="{% url 'singup' %}" id="signup">Zarejestruj się</a>.</p>
        </div>
        <div class="form-group">
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <div class="form-group form-footer">
            Copyright © Patryk Morawski 2020
        </div>
    </form>
{% endblock %}